{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": ["test/**/*.js"],
      "options": {
        "semi": true,
        "trailingComma": "none"
      }
    }
  ]
}
